<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e3c1cd">  <td>22/01/27 22:00:21</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.launchFireFoxBrowser()[pri:0, instance:mercuryTest.LoginTest@4313f5bc]">launchFireFoxBrowser</td> 
  <td>main@1841396611</td>   <td></td> </tr>
<tr bgcolor="e3c1cd">  <td>22/01/27 22:00:21</td>   <td>-19</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.launchChromeBrowser()[pri:0, instance:mercuryTest.LoginTest@4313f5bc]">launchChromeBrowser</td> 
  <td>main@1841396611</td>   <td></td> </tr>
</table>
