<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="66e06f">  <td>22/01/25 19:44:19</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchApplication()[pri:0, instance:testpackage.LoginTest@fdefd3f]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td>  <td>main@1506809545</td>   <td></td> </tr>
<tr bgcolor="a2ca96">  <td>22/01/25 19:44:36</td>   <td>16399</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.VerifySuccessfullLogin()[pri:0, instance:testpackage.LoginTest@fdefd3f]">VerifySuccessfullLogin</td> 
  <td>main@1506809545</td>   <td></td> </tr>
<tr bgcolor="66e06f">  <td>22/01/25 19:44:38</td>   <td>18561</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closerBrowser()[pri:0, instance:testpackage.LoginTest@fdefd3f]">&lt;&lt;closerBrowser</td> 
<td>&nbsp;</td>  <td>main@1506809545</td>   <td></td> </tr>
</table>
