<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="eca565">  <td>22/01/29 12:44:29</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.VerifyLoginPage()[pri:0, instance:mercuryTest.LoginTest@1184ab05]">VerifyLoginPage</td> 
  <td>main@1209702763</td>   <td></td> </tr>
<tr bgcolor="eca565">  <td>22/01/29 12:44:29</td>   <td>12</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.VerifySuccessfullLogin()[pri:0, instance:mercuryTest.LoginTest@1184ab05]">VerifySuccessfullLogin</td> 
  <td>main@1209702763</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>22/01/29 12:44:29</td>   <td>7</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser(org.testng.ITestResult)[pri:0, instance:mercuryTest.LoginTest@1184ab05]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>22/01/29 12:44:29</td>   <td>17</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser(org.testng.ITestResult)[pri:0, instance:mercuryTest.LoginTest@1184ab05]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td></td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>22/01/29 12:44:15</td>   <td>-14125</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchApplication()[pri:0, instance:mercuryTest.LoginTest@1184ab05]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td>  <td>main@1209702763</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>22/01/29 12:44:29</td>   <td>10</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchApplication()[pri:0, instance:mercuryTest.LoginTest@1184ab05]">&gt;&gt;launchApplication</td> 
<td>&nbsp;</td>  <td>main@1209702763</td>   <td></td> </tr>
<tr bgcolor="96a0d5">  <td>22/01/29 12:44:15</td>   <td>-14558</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.reports_Start()[pri:0, instance:mercuryTest.LoginTest@1184ab05]">&gt;&gt;reports_Start</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1209702763</td>   <td></td> </tr>
</table>
