<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCasePKG.AddAddress</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddHomeAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddMultipleAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddWorkAddress</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCasePKG.AddItemsIntoCart</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>AddItemsBySearchingwithDropDown</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>AddItemsBySearchingwithSearchBox</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCasePKG.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithInvalidMobileNUmber</td>
<td>SmokeTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithInvalidMailID</td>
<td>SmokeTest1 </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithMobileNUmber</td>
<td>SmokeTest </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithMailID</td>
<td>SmokeTest1 </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>testCasePKG.PaymentSection</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>OrderProductwithPaytm</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>OrderProductwithDebitCard</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
