<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>SmokeTest</td><td>LoginTest.LoginWithInvalidMobileNUmber()[pri:3, instance:testCasePKG.LoginTest@48524010]<br/></td></tr>
<tr><td>SmokeTest1</td><td>LoginTest.LoginWithMailID()[pri:1, instance:testCasePKG.LoginTest@48524010]<br/>LoginTest.LoginWithInvalidMailID()[pri:4, instance:testCasePKG.LoginTest@48524010]<br/></td></tr>
</table>
