<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="baf4f0">  <td>22/01/22 10:22:49</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithMailID()[pri:1, instance:testCasePKG.LoginTest@48524010]">LoginWithMailID</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="baf4f0">  <td>22/01/22 10:22:49</td>   <td>84</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithInvalidMailID()[pri:4, instance:testCasePKG.LoginTest@48524010]">LoginWithInvalidMailID</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="baf4f0">  <td>22/01/22 10:22:49</td>   <td>96</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithInvalidMobileNUmber()[pri:3, instance:testCasePKG.LoginTest@48524010]">LoginWithInvalidMobileNUmber</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>22/01/22 10:22:49</td>   <td>118</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAddress.AddAddress()[pri:0, instance:testCasePKG.AddAddress@4b168fa9]">AddAddress</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>22/01/22 10:22:49</td>   <td>130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAddress.AddHomeAddress()[pri:0, instance:testCasePKG.AddAddress@4b168fa9]">AddHomeAddress</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>22/01/22 10:22:49</td>   <td>140</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAddress.AddMultipleAddress()[pri:0, instance:testCasePKG.AddAddress@4b168fa9]">AddMultipleAddress</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="a1689d">  <td>22/01/22 10:22:49</td>   <td>171</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddAddress.AddWorkAddress()[pri:0, instance:testCasePKG.AddAddress@4b168fa9]">AddWorkAddress</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="a068d1">  <td>22/01/22 10:22:49</td>   <td>182</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddItemsIntoCart.AddItemsBySearchingwithDropDown()[pri:0, instance:testCasePKG.AddItemsIntoCart@1a84f40f]">AddItemsBySearchingwithDropDown</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="a068d1">  <td>22/01/22 10:22:49</td>   <td>222</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AddItemsIntoCart.AddItemsBySearchingwithSearchBox()[pri:0, instance:testCasePKG.AddItemsIntoCart@1a84f40f]">AddItemsBySearchingwithSearchBox</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>22/01/22 10:22:49</td>   <td>259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentSection.OrderProductwithDebitCard()[pri:0, instance:testCasePKG.PaymentSection@23282c25]">OrderProductwithDebitCard</td> 
  <td>main@1990098664</td>   <td></td> </tr>
<tr bgcolor="cbb9b1">  <td>22/01/22 10:22:49</td>   <td>266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="PaymentSection.OrderProductwithPaytm()[pri:0, instance:testCasePKG.PaymentSection@23282c25]">OrderProductwithPaytm</td> 
  <td>main@1990098664</td>   <td></td> </tr>
</table>
