<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>testCasePKG.LoginTest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithMobileNUmber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithMailID</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>chatWithExistingContact</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithInvalidMobileNUmber</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>LoginWithInvalidMailID</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>launchFBApplication</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>closeBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
