<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestNGProject</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c49fae">  <td>22/01/22 18:03:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithInvalidMailID(java.lang.String, java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">LoginWithInvalidMailID</td> 
  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="c49fae">  <td>22/01/22 18:04:16</td>   <td>30758</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithInvalidMobileNUmber(java.lang.String, java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">LoginWithInvalidMobileNUmber</td> 
  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="c49fae">  <td>22/01/22 18:04:37</td>   <td>51328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithMailID(java.lang.String, java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">LoginWithMailID</td> 
  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="c49fae">  <td>22/01/22 18:05:06</td>   <td>80520</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.LoginWithMobileNUmber(java.lang.String, java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">LoginWithMobileNUmber</td> 
  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="c49fae">  <td>22/01/22 18:05:25</td>   <td>99750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="LoginTest.chatWithExistingContact(java.lang.String, java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">chatWithExistingContact</td> 
  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:04:10</td>   <td>24762</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:04:32</td>   <td>45849</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:05:02</td>   <td>75921</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:05:21</td>   <td>95098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:05:53</td>   <td>126812</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.closeBrowser()[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&lt;&lt;closeBrowser</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:03:35</td>   <td>-10437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchFBApplication(java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&gt;&gt;launchFBApplication</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:04:11</td>   <td>24965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchFBApplication(java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&gt;&gt;launchFBApplication</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:04:32</td>   <td>46114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchFBApplication(java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&gt;&gt;launchFBApplication</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:05:02</td>   <td>76025</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchFBApplication(java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&gt;&gt;launchFBApplication</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
<tr bgcolor="f888d7">  <td>22/01/22 18:05:21</td>   <td>95320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.launchFBApplication(java.lang.String)[pri:0, instance:testCasePKG.LoginTest@55a561cf]">&gt;&gt;launchFBApplication</td> 
<td>&nbsp;</td>  <td>main@1100767002</td>   <td></td> </tr>
</table>
