<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="d367f1">  <td>22/02/01 19:30:35</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;BaseClass.setExtent()[pri:0, instance:testPackage.Demo1@59505b48]">&gt;&gt;setExtent</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522095831</td>   <td></td> </tr>
<tr bgcolor="d367f1">  <td>22/02/01 19:30:35</td>   <td>444</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;BaseClass.setup(org.testng.ITestContext)[pri:0, instance:testPackage.Demo1@59505b48]">&gt;&gt;setup</td> 
<td>&nbsp;</td>  <td>main@1522095831</td>   <td></td> </tr>
<tr bgcolor="abf3bf">  <td>22/02/01 19:30:44</td>   <td>9551</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Demo1.test()[pri:0, instance:testPackage.Demo1@59505b48]">test</td> 
  <td>main@1522095831</td>   <td></td> </tr>
<tr bgcolor="d367f1">  <td>22/02/01 19:31:00</td>   <td>24708</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;BaseClass.tearDown(org.testng.ITestResult)[pri:0, instance:testPackage.Demo1@59505b48]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td>  <td>main@1522095831</td>   <td></td> </tr>
<tr bgcolor="d367f1">  <td>22/02/01 19:31:00</td>   <td>25404</td> <td>&nbsp;</td><td title="&lt;&lt;BaseClass.endReport()[pri:0, instance:testPackage.Demo1@59505b48]">&lt;&lt;endReport</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1522095831</td>   <td></td> </tr>
</table>
